html, body {
  margin: 0;
  color: black;
  background-image: url("../images/24866.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

html .main-div, body .main-div {
  background-color: none;
}
